#recentLinks {
  position: absolute;
  left: 86px;
  height: 40px;
  padding: 10px;
  display: flex;
  overflow-x: scroll;
    transition: width .3s ease;
}

#closeCrumbs {
  position: absolute;
  left: 60px;
    height: 40px;
    padding: 10px;
}

#toggleButton {
  border: 0;
  font-size: 24px;
  background: transparent;
}

.recentLink {
  padding: 0 10px;
  cursor: pointer;
  flex-shrink: 0;
  max-width: 100%;
  user-select: none;
    -ms-user-select: none;
    /* IE 10+ */
    -moz-user-select: none;
    /* Gecko (Firefox) */
    -webkit-user-select: none;
    /* Webkit (Safari, Chrome) */
}

.linkNumber {
  color: #0087FF;
  padding-right: 3px;
}
.toggledOn {
  color: green;
  transition: color .3s ease;
  }
  
  .toggledOn:hover {
    color: rgb(181, 56, 22);
}

.toggledOff {
  color: gray;
  transition: color .3s ease;
  }
  
  .toggledOff:hover {
    color: rgb(48, 129, 23);
}
#dailyIcon {
  color: #FF5E00;
}


#focusedIcon {
  color: #0D9BDB;
}
/* prevent overlap of search bar & default roam icons */
.rm-find-or-create-wrapper,
.rm-topbar .bp3-popover-wrapper {
  z-index: 1000;
}